@define-color base           #1E242F ;
@define-color border    #054a59 ;
@define-color selected #2a9134; ;
@define-color base_alt       #282f3e ;
@define-color primary_blue   #b6c0cd ;

*{
    font-family: "Overpass Nerd Font";
    font-size: 16px;
}

window {
    border: 5px solid @border;
    border-radius: 20px;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border: none;
    background: @base;
    color: @primary_blue;
}

#inner-box {
    background-color: @base_alt;
    /*box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);*/
}

#outer-box {
    margin: 5px;
    padding: 10px;
    background-color: @base;
    border-radius: 15px;
}

#text {
    padding: 5px;
    color: @primary_blue;
}

#entry {
    padding: 10px;
}

#entry:nth-child(even) {
    background-color: @base;
}

#entry:selected {
    background-color: @selected;
}
