[submodule "bash/.oh-my-bash"]
	path = bash/.oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
