# client.<class> <border> <background> <text> <indicator> <child_border>
client.unfocused "#054a59" "#054a50" "#ffffff" "#000000" "#054a59"
client.focused "#054a59" "#2a9134" "#ffffff" "#000000" "#054a59"
client.focused_inactive "#054a59" "#054a59" "#ffffff" "#000000" "#054a59"
