{% set gitconfig = git[env] %}
[user]
	name = {{ gitconfig.name }}
	email = {{ gitconfig.email }}
	signingkey = {{ gitconfig.signingkey }}
[init]
	defaultBranch = {{ gitconfig.defaultBranch }}
[core]
	excludesFile = {{ gitconfig.excludesFile }}
[commit]
	gpgSign = {{ gitconfig.gpgSign }} 
[tag]
	gpgSign = {{ gitconfig.gpgSign }} 
